USE [master]
GO
/****** Object:  Database [Task4]    Script Date: 10/8/2015 8:41:22 AM ******/
CREATE DATABASE [Task4]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Task4', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Task4.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Task4_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Task4_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Task4].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Task4]
GO
/****** Object:  Table [dbo].[Dictionary]    Script Date: 10/8/2015 8:41:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dictionary](
	[idWord] [int] IDENTITY(1,1) NOT NULL,
	[idLanguage] [int] NOT NULL,
	[Word] [nvarchar](50) NOT NULL,
	[idSynonyms] [int] NULL,
	[Explanations] [text] NULL,
 CONSTRAINT [PK_Dictionary] PRIMARY KEY CLUSTERED 
(
	[idWord] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Languages]    Script Date: 10/8/2015 8:41:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Languages](
	[idLang] [int] IDENTITY(1,1) NOT NULL,
	[NameLang] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Languages] PRIMARY KEY CLUSTERED 
(
	[idLang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MultilingualDictionary]    Script Date: 10/8/2015 8:41:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MultilingualDictionary](
	[idWord] [int] NOT NULL,
	[idLanguage] [int] NOT NULL,
 CONSTRAINT [PK_MultilingualDictionary] PRIMARY KEY CLUSTERED 
(
	[idWord] ASC,
	[idLanguage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Dictionary]  WITH CHECK ADD  CONSTRAINT [FK_Dictionary_Dictionary] FOREIGN KEY([idSynonyms])
REFERENCES [dbo].[Dictionary] ([idWord])
GO
ALTER TABLE [dbo].[Dictionary] CHECK CONSTRAINT [FK_Dictionary_Dictionary]
GO
ALTER TABLE [dbo].[Dictionary]  WITH CHECK ADD  CONSTRAINT [FK_Dictionary_Languages] FOREIGN KEY([idLanguage])
REFERENCES [dbo].[Languages] ([idLang])
GO
ALTER TABLE [dbo].[Dictionary] CHECK CONSTRAINT [FK_Dictionary_Languages]
GO
ALTER TABLE [dbo].[MultilingualDictionary]  WITH CHECK ADD  CONSTRAINT [FK_MultilingualDictionary_Dictionary] FOREIGN KEY([idWord])
REFERENCES [dbo].[Dictionary] ([idWord])
GO
ALTER TABLE [dbo].[MultilingualDictionary] CHECK CONSTRAINT [FK_MultilingualDictionary_Dictionary]
GO
ALTER TABLE [dbo].[MultilingualDictionary]  WITH CHECK ADD  CONSTRAINT [FK_MultilingualDictionary_Languages] FOREIGN KEY([idLanguage])
REFERENCES [dbo].[Languages] ([idLang])
GO
ALTER TABLE [dbo].[MultilingualDictionary] CHECK CONSTRAINT [FK_MultilingualDictionary_Languages]
GO
USE [master]
GO
